<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'voting_page:home' %}">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'voting_page:logout' %}">Logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'voting_page:vote' %}">Vote</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'voting_page:login' %}">Login</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'voting_page:register' %}">Register</a>
        </li>
        {% endif %}
    </ul>
</nav>